.main-content {
  margin: 4rem 2.5rem;
}

.form-container {
  width: 400px;
  margin: auto;
}

#root {
  height: 100%;
}

.mainContainer {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
