.ui.card > .content > .header:not(.ui) {
  margin-top: 10px;
}

.ui.grid > .row {
  padding-top: 2rem;
}

.ui.basic.blue.button:hover,
.ui.basic.blue.buttons:hover .button:hover {
  color: #ffffff !important;
  background-color: #649dc9 !important;
}

.cardContent {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.card {
  height: 100% !important;
}

.extraContent {
  display: flex !important;
  justify-content: space-between !important;
}
