.main-footer {
  /* position: absolute; */
  /* margin-bottom: -55rem;
    bottom: 0;  */
  color: rgb(0, 0, 0);
  /* width: 90vh; */
  padding-bottom: 10px;
  height: 3.5rem;
}

/* .col-sm {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;6
} */

.line {
  height: 1px;
  background-color: rgb(228, 225, 225);
}
