/* .GoodCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

/* .ui.grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} */

@media screen and (max-width: 576px) {
    .ui.form {
        margin-right: auto;
        width: max-content;
    }
}